<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= contents.title %>
    </title>
</head>

<body>
    <% if (locals.user) { %>
        <h2>
            <%= contents.title%> directory
        </h2>
        <% if (contents.children.length==0) { %>
            <p>this directory is empty</p>
            <% } else {%>
                <% contents.children.forEach(child=> { %>


                    <li> <a href=<%=`/navigate/${child.id}`%>>
                            <%= child.title %>
                    </li>

                    </a>
                    </li>

                    <% }); %>

                        <% }%>



                            <br>
                            <br>
                            <br>


                            <button><a href="/add-file"> add file</a></button>

                            <button id="addFolder"> add a folder</button>
                            <% if (contents.parentID) { %>

                                <button id="deleteFolder" data-folderID="<%=contents.id%>"> delete current
                                    folder</button>
                                <% } %>

                                    <br>
                                    <% if (contents.parentID) { %>
                                        <a href="<%=contents.parentID%>">back</a>

                                        <% } %>
                                            <a href="/">
                                                home
                                            </a>
                                            <a href="/sign-out">sign out</a>

                                            <%} else { %>
                                                <p>you are not signed in.</p>
                                                <a href="/sign-in">sign in</a>
                                                <a href="/sign-up">create an account</a>
                                                <% } %>


</body>
<script>
    console.log("window", window.location.href);
    const id = window.location.pathname.split("/").pop()
    console.log(id);


    document.querySelector("#addFolder").addEventListener("click", async (e) => {
        {
            e.preventDefault();

            const folderName = prompt("Please enter your folder name:");

            if (folderName !== null && folderName.trim() !== "") {
                try {
                    const response = await fetch(`/add-folder/${id}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ name: folderName }),
                    });

                    const data = await response.json();

                    console.log("message", data.message);
                    window.location.href = `/navigate/${id}`
                } catch (error) {
                    console.error('Error submitting prompt:', error);
                }
            } else {
                alert('No input provided.');
            }
        }
    })

    document.querySelector("#deleteFolder").addEventListener("click", async (e) => {
        {
            e.preventDefault();

            console.log(e);

            const id = Number(e.target.dataset.folderid)

            if (id !== null) {
                try {
                    const response = await fetch(`/delete/${id.toString()}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ id: id }),
                    });

                    const data = await response.json();

                    console.log("message", data.message);
                    window.location.href = `/navigate/${data.parentID}`
                } catch (error) {
                    console.error('Error submitting id:', error);
                }
            } else {
                alert('No id found');
            }
        }
    })
</script>

</html>