<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= contents.title %>
    </title>
</head>

<body>
    <% if (locals.user) { %>
        <h2>
            <%= contents.title%>
        </h2>

        <% Object.entries(contents).map(([key,value])=> {%>

            <p>
                <%= key + " : " + value%>
            </p>


            <% }) %>
                <button><a href="/file/<%=`${contents.id}`%>/download">download</a></button>
                <button><a href="/file/<%=`${contents.id}`%>/delete">delete</a></button>

                <% }%>



                    <br>
                    <br>
                    <br>



                    <br>
                    <% if (contents.parentID) { %>
                        <a href="/navigate/<%=contents.parentID%>">back</a>


                        <a href="/">
                            home
                        </a>
                        <a href="/sign-out">sign out</a>

                        <%} else { %>
                            <p>you are not signed in.</p>
                            <a href="/sign-in">sign in</a>
                            <a href="/sign-up">create an account</a>
                            <% } %>


</body>


</html>